* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr--primary: #f5f7fb;
	--clr--secondary: #293264;
	--clr--neutral: #fff;
	--clr--accent--one: #4d5b9e;
	--clr--accent--two: #d6dbf5;
	--clr--line: #dbdef0;
	--clr--success: #94d7a2;
	--clr--failure: #f8bcbc;
}
.break-line {
	background-color: var(--clr--line);
	margin: 1em 0;
}
.align-center {
	margin: 0 auto;
}
body {
	background-color: var(--clr--primary);
	color: var(--clr--secondary);
	font-family: 'Roboto';
}

.app-wrapper {
	/* border: 1px solid red; */
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header,
footer {
	background-color: var(--clr--accent--one);
	color: var(--clr--primary);
	padding: 1.5em;
	text-align: center;
}

.auth-container {
	border: 1px solid var(--clr--accent--one);
	padding: 1.5em;
	border-radius: 6px;
	background-color: var(--clr--neutral);
}
.auth-container a {
	color: var(--clr--secondary);
}
.auth-container button {
	background-color: var(--clr--accent--one);
}
.auth-container button:hover {
	background-color: var(--clr--secondary);
}

/* home */

.home-wrapper {
	background-color: var(--clr--accent--two);
	border: 1px solid var(--clr--secondary);
	border-radius: 15px;
	color: var(--clr--secondary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	/* gap: 1.5em; */
	margin-inline: auto;
	width: min(90%, 450px);
	height: 200px;
	padding: 2em;
	transition: 0.5s ease-in-out;
}
.btn-wrapper {
	margin-top: -1em;
	display: flex;
	gap: 1em;
}
.btn-primary {
	background-color: var(--clr--accent--one);
	border: none;
	border-radius: 15px;
	color: var(--clr--primary);
	cursor: pointer;
	padding: 1em 2em;
	transition: 0.2s ease-in-out;
}
.btn-primary:hover {
	background-color: var(--clr--secondary);
}

/* mobile */

@media only screen and (max-width: 500px) {
	.home-wrapper {
		height: 300px;
	}
	.btn-wrapper {
		margin-top: 1em;
		flex-direction: column;
	}
}

.quiz-wrapper {
	max-width: 90%;
	margin: 2em auto;
}

.quiz-item__choices {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 1em;
	margin-top: 1em;
}
.quiz-item__choices-choice {
	border: 1px solid var(--clr--accent--one);
	border-radius: 15px;
	color: var(--clr--secondary);
	list-style: none;
	padding: 0.25em 0.75em;
	cursor: pointer;
}
.quiz-item__choices-choice:hover {
	background-color: var(--clr--accent--two);
}

.result-wrapper {
	display: flex;
	justify-content: center;
}

footer a {
	text-decoration: none;
	color: var(--clr--success);
	cursor: pointer;
}
